#sidebar {
          height: 100%;
          padding: 0px;

        }
        #sidebar .nav {
          width: 250px;
          background: -moz-linear-gradient(#FB8C00, #FFCC80); /* For Firefox 3.6 to 15 */
          position:fixed;
          z-index: 1000;
          left: 0;
          top: 0;
          border-right: 1px solid lightgrey;
          height: 100%;
        }
        .nav li {
            border-bottom: 1px solid lightgrey;
            
           
        }
        .nav li a {
            color: black;
            }